.container {
  height: fit-content;
  text-align: left;
  padding: 10%;
}
.container > div {
  display: inline-block;
  padding: 30px;
  margin: 30px;
  background-color: var(--nav-item-color);
  font-size: 50px;
}
.date {
  text-align: center;
  word-spacing: 30px;
  padding-top: 150px;
}
.date > * {
  display: inline-block;
}
