.color-collection {
  color: #45483d; /* ~~~ Ripe Oil ~~~ */
  color: #303d4d; /* ~~~ Naval ~~~ */
  color: #bccbce; /* ~~~ Sleepy Blue ~~~ */
  color: #c5874a; /* ~~~ Tassel ~~~ */
  color: #32586d; /* ~~~ Endless Sea ~~~ */
  color: #ac6c53; /* ~~~ Cavern Clay ~~~ */
  color: #d5c7ba; /* ~~~ Touch of Sand ~~~ */
  color: #c4a497; /* ~~~ Sandbank ~~~ */
  color: #855950; /* ~~~ Canyon Clay ~~~ */
}
